* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    background-color: #FFFFFF;
    font-family: Montserant, sans-serif;
}

.page_header {
    width: 1900px;
    min-height: 900px;
    background-image: linear-gradient(180deg, #EDA418 47.5%, rgba(237, 164, 24, 0) 100%);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70px;
    padding-top: 105px;
    padding-right: 65px;
}

.logo {
    display: block;
    margin-top: 20px;
}

.navigation_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: auto 0;
    padding: auto;
    margin-left: 160px;
    list-style: none;
}

.navigation_title_main {
    display: block;
    min-width: 200px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.navigation_title_main:hover {
    font-weight: 700;
}

.navigation_button {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #000000;
    border: none;
    border-radius: 100px;
    margin-top: 10px;
}


.container_page_header {
    display: flex;
    padding-top: 25px;
    gap: 20px;
    padding-left: 300px;
}

.text_header_list {
    width: 750px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.text_header {
    margin: 0;
    padding: 0;
    padding-top: 150px;
    font-weight: 800;
    font-size: 70px;
    line-height: 60px;
}

.text_header_discount {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.container_button_header {
    display: block;
    width: 300px;
    margin: 5px;
    padding: 30px;
    font-weight: 400;
    font-size: 33px;
    line-height: 25px;
    color: #FFFFFF;
    background: #E52626;
    border-radius: 50px;
    border: none;

}

.container_button_header:hover {
    box-shadow: 3px 3px 3px 3px #f37373;
}

.page_main {
    width: 1900px;
    min-height: 900px;
    text-align: center;
}

.container_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog_title {
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: 15px;
    margin-top: 40px;
    padding: 0;
    gap: 40px 30px;
    list-style: none;
}

.catalog_item {
    width: 450px;
}

.catalog_text {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-weight: 500;
    line-height: 45px;
    font-size: 35px;
    color: #000000;
}

.catalog_image:hover{
    width: 455px;
    height: 305px;
}

.page_footer {
    width: 1900px;
    min-height: 450px;
    text-align: center;
    background-image: linear-gradient(0deg, #EDA418 47.5%, rgba(237, 164, 24, 0) 100%);
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}

.footer_title {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}

.footer_title:hover {
    font-weight: 600;
}

.footer_page_text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25p;
    list-style: none;
}

.footer_text {
    padding-top: 25px
}

.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    list-style: none;
    padding-top: 25px;
}

.footer_images{
    display: block;
}